.container__questions
    .questions__ask
        input(type="text").new-question
        button.que__add Post your que
    .questions__que-list
        for que in ques
            div(id=`que-${que.queId}`).que
                .que__user
                    if que.answers[0]
                        p Answered by
                            b  #{que.answers[0].ansAuthor}
                    else
                        p Asked by
                            b  #{que.queAuthor}
                        .que__buttons
                            i(title='Edit Question').far.fa-edit.que__edit
                            i(title='Delete Question').far.fa-trash-alt.que__delete
                .que__body
                    b= que.queBody
                if que.answers[0]
                    .que__answer
                        p= que.answers[0].ansBody
                        if que.answers[0] == user.id
                            .answer__buttons
                                i(title='Edit Answer').far.fa-edit.answer__edit
                                i(title='Delete Answer').far.fa-trash-alt.answer__delete
                                i(title='Show Comments').far.fa-comment-lines.answer__show-comments
                    if que.answers[0].comment.length > 0
                        .answer__comments
                            for comment in que.answers[0].comment
                                .comment
                                    p= comment.body

                .que__controls
                    .que__votes
                        .que__upvote(title='Upvote')
                            i.far.fa-volume-up
                                p.upClick= que.numUpvotes
                        .que__downvote(title='Downvote')
                            i.far.fa-volume-mute
                                p.downClick= que.numDownvotes
                    a(href=`/questions/${que.queId}`).que__add-answer(title='Add Answer')
                        i.far.fa-plus
                            b Add Answer
