.container__questions
    .questions__ask
        input(type="text").new-question
        button.que__add Post your que
    .questions__que-list
        for que in ques
            div(id=`que-${que.queId}`).que
                .que__user
                    if que.answers[0]
                        p Answered by
                            b  #{que.answers[0].ansAuthor}
                    else
                        p Asked by
                            b  #{que.queAuthor}
                    if que.queAuthorId == user.id
                        .que__buttons
                            i(title='Edit Question').far.fa-edit.que__edit
                            i(title='Delete Question').far.fa-trash-alt.que__delete
                .que__body
                    b= que.queBody

                .que__controls
                    .que__votes
                        if que.votes.userVote.is
                            .que__upvote(title='Upvote')(class= que.votes.userVote.isUpVote ? "active": undefined)
                                i.far.fa-volume-up
                                    p.upClick= que.votes.up.count
                            .que__downvote(title='Downvote')(class= que.votes.userVote.isUpVote ? undefined : "active")
                                i.far.fa-volume-mute
                                    p.downClick= que.votes.down.count
                        else
                            .que__upvote(title='Upvote')
                                i.far.fa-volume-up
                                    p.upClick= que.votes.up.count
                            .que__downvote(title='Downvote')
                                i.far.fa-volume-mute
                                    p.downClick= que.votes.down.count
                    a(href=`/questions/${que.queId}`).que__add-answer(title='Add Answer')
                        i.far.fa-plus
                            b Add Answer
