.container__questions
    .questions__ask
        input(type="text").new-question
        button.que__add Add to queue
    .questions__que-list
        for que in ques
            div(id=`que-${que.queId}`).que
                if que.answers[0]
                    .que__user
                        p Answered by <b>#{que.answers[0].ansAuthor}</b>
                .que__body
                    a(href=`questions/${que.queId}`): b= que.queBody

                if que.answers[0]
                    .que__answer
                        p= que.answers[0].ansBody

                .que__controls
                    .que__votes
                        div(title='Upvote').que__upvote
                            i.far.fa-music
                                p.upClick= que.numUpvotes
                        div(title='Downvote').que__downvote
                            i.far.fa-music-slash
                                p.downClick= que.numDownvotes

                    if que.queAuthorId == user.id
                        .que__buttons
                            i(title='Edit Question').far.fa-edit.que__edit
                            i(title='Delete Question').far.fa-trash-alt.que__delete
