extends layout.pug
block head
  link(rel="stylesheet" href="/styles/que.css")
  script(src="/js/components/que.js")
block content
  include components/navbar

  .container__main
    .container__que(id=`que-${que.id}`)
      .que__user
        p Asked by
          b #{que.User.username}
        .que__buttons
          i(title='Edit Question').far.fa-edit.que__edit
          i(title='Delete Question').far.fa-trash-alt.que__delete
      .que__body
        b= que.body
      .que__votes
        .que__upvote(title='Upvote')
          i.far.fa-volume-up
            p.upClick= numUpvotes
        .que__downvote(title='Downvote')
          i.far.fa-volume-mute
            p.downClick= numDownvotes
    .container__new-answer
      textarea
      .new-answer__button.add-answer
        i.far.fa-plus
          p Add Answer
    .container__answers
      for answer in answers
        .answer(id=`ans-${answer.id}`)
          .answer__user
            p Answered by
              b= answer.User.username
            .answer__buttons
              i(title='Edit Answer').far.fa-edit.answer__edit
              i(title='Delete Answer').far.fa-trash-alt.answer__delete
          p= answer.body

  //- .answer__button
  //-   input(type="text" name="addingAnswer" id='addAnswer')
  //-   button.add-answer Add Answer
